body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:url(coder.jpg);
	background-size:cover;

}
@font-face {
font-family: DeliciousRoman;
src: url(/Delicious-Roman.otf);
}
p {
font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
}
.box{
	position:absolute;
	top:60%;
	left:58%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:30px;
	background:#7a7a52;
	/*box-sizing:border-box;*/
	border-radius:10px;
	box-shadow: 0px 15px 50px rgb(122, 122, 82);



}
img {
	width:190px;
	height:200px;
	border-radius: 50%;
	float:left;
	shape-outside: circle();
	margin-right: 40px;

}


p{
	margin:10px;
	padding: 0;
	text-align: justify;
	line-height: 22px;

}
.h1{
	margin:0 0 20px;
	padding: 0;
	font-size: 30px;

}
footer { 
    display:block;
}


.footer {

   /*position: fixed;*/
   left:0;
   bottom: 0;
   width: 100%;
   height:80px;
   background-color:grey;
   color:blue;
   text-align: center;
}


ul{
	/*position:absolute;*/
	width: auto;
	display : flex;
	/*padding-left: 30%;
	padding-right: 30%;*/
	margin: 10px;

}


ul li{
	list-style:none;
	padding-left:0px;
}
ul li a{
	position :relative;
	width:60px;
	height:60px;
	background:#f1f1f1;
	display:block;
	text-align: center;
	margin: 0 10px;
	border-radius: 50%;
	padding:6px;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	transform:.5s;
	background:linear-gradient(0deg,#ddd,#fff);

}
ul li a :hover{
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ul li a .fa{
	width:100%;
	height: 100%;
	
	background:grey;
	border-radius: 50%;
	line-height:calc(60px - 12px);
	font-size: 24px;
	color: #262626;
	transition:0.5s;
}

ul li:nth child(1) a:hover .fa{
	color:#0077b5;
}
ul li:nth child(2) a:hover .fa{
	color:#00f;
}
ul li:nth child(3) a:hover .fa{
	color: #517fa4;
}
ul li:nth child(4) a:hover .fa{
	color: #55acee;
}
ul li:nth child(5) a:hover .fa{
	color:#3b5998;
}
ul li:nth child(6) a:hover .fa{
	color:#00f;
}
ul li:nth child(7) a:hover .fa{
	color: #dc4e41;
}
ul li:nth child(8) a:hover .fa{
	color:#b31217;
}

div.box {
    opacity: 1;
    filter: alpha(opacity=10); 
}

.fa a:hover {
	opacity: 0.5;
}

body > div:last-child {

width : 200px!important;
height: 50px!important;

}

.text-container {
	font-size:28px;
	color:rgba(225,225,225,.1);
	background-image:url(color.jpg);
	background-repeat: repeat-x;
	animation: animate 30s linear infinite;
	-webkit-background-clip:text;
}
@keyframes animate{
	0%{
		background-position:left 0px ;
	}
	40%{
		background-position:left 800px top 10px;
	}
}
